.technologies__header {
    color: $black;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.technologies__text {
    width: 270px;
    height: 75px;
    color: $gray;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 400;
    line-height: 1.71;
    cursor: pointer;

}

.technologies__list {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 94px;
    gap: 30px;
    text-align: justify;

}


.technologies__icons {
    width: 270px;
    height: 120px;
    background: $btngray;
    border-radius: 4px;
    margin-bottom: 30px;
}

.technologies__icons--icon {
    margin: 25px 100px;
}
