.title {

    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
    fill: rgba(47, 48, 58, 0.4);
    max-width: 1600px;
    margin: 0 auto;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
}



.title__main {
    text-align: center;
    width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    margin: 0;
    padding: 200px 0 30px;
    line-height: 1.363;

}