//---------- mobile first background--------//

.title {

    background-image:linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/./images/Header_img_480_400.webp");
   
    fill: rgba(47, 48, 58, 0.4);
    max-width: 1600px;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin: 0 auto;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
}

@media screen and (min-width:$tablet) {
    .title {
        background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/Header_img_768_400.webp");
        max-width: $desktop;
        height: 400px;
    }
}

@media screen and (min-width:$desktop) {
    .title {
        background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("/images/Header_img_1600_600.webp");
        max-width: 1600px;
        height: 600px;
    }
}


.title__main {
    text-align: center;
    width: 384px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    // margin: 0 auto;
    margin-top: 200px;
    // padding: 200px 0 30px;//
    line-height: 1.38;

}

@media screen and (min-width:$tablet) {
    .title__main {

        text-align: center;
        width: 400px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 900;
        margin: 0;
        margin-top: 200px;
        // padding-top: 30px;
        // padding: 200px 0 30px;
        line-height: 1.38;
    }
}

@media screen and (min-width:$desktop) {
    .title__main {
        
        text-align: center;
        width: 696px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-size: 44px;
        font-weight: 900;
        margin: 0;
        margin-top: 200px;
        // padding-top: 30px;
        // padding: 200px 0 30px;
        line-height: 1.363;
    }
}


// .title__main {
//     border: 2px solid blue;
//     text-align: center;
//     // width: 696px;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     font-size: 44px;
//     font-weight: 900;
//     margin: 0;
//     padding-top: 30px;
//     // padding: 200px 0 30px;//
//     line-height: 1.363;

// }