.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: $black;
    

    &:hover,
    &:focus{text-decoration-color: $blue;
        transition-duration: 250ms;
        transition-timing-function: $cubic;}
}

.blueaccent {
   
    color:$blue;
}

.blue {
    color: $blue;
}


.link {
    text-decoration: none;
    color: $black;
}

.underlineLink::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $blue;
}


ul {
    list-style-type: none;
    padding-inline-start: 0;

}


/*------------------ */
.overlay {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;

    transition-duration: 250ms;
    transition-timing-function: $cubic;
}