.overlay__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: white;
    vertical-align: top;
    position: absolute;
    padding: 25px 45px 20px 24px;
    transform: translateY(0%);
}