body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    color: $black;
}


// @media (min-device-pixel-ratio: 2),
// (min-resolution: 192dpi),
// (min-resolution:2dppx) {
// .container-retina{background-image: url(..//);}
// }