.header {
    margin-top: 10px;
    width: 1600px;
    width: 100%;
    border-bottom: 1px solid $lineheadercolor;
}

.header__nav {
    width: 300px;
    text-align: center;
}

.header__link {
    margin-left: 40px;
}

@media screen and (max-width: $tablet) {
    .header__nav {
        display: none;
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    @media screen and (min-width: $tablet) {
        .header-wrapper {
            align-items: baseline;
        }

    }


}


.contact,
.header__links {
    display: inline-flex;
    gap: 8px;

}


@media screen and (min-width:$tablet) {
    .contact {
        display: flex;
        margin-left: 44px;
        flex-wrap: wrap;
    }

}

@media screen and (min-width:$desktop) {
    .contact {
        display: inline-flex;
        gap: 46px;
    }

}


.header__link {
    position: relative;
    color: $black;
    text-decoration-line: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14em;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: $blue;
        text-decoration-color: $blue;
        transition-duration: 250ms;
        transition-timing-function: $cubic;

    }

}